<header
    class="container-fluid d-flex align-items-center justify-content-between bg-white shadow-sm p-3 text-capitalize position-sticky top-0 bg-white">
    <div class="logo">
        <img src="" alt="logo">
    </div>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link  text-dark" href="/">home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/about">about us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/admin">admin</a>
        </li>
    </ul>
</header>