<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <title>edit article</title>
</head>

<body>
    <%- include('./partial/header.ejs') %>
        <div class="container">
            <h1>edit article</h1>
            <form action="/add-article" method="POST">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="title" id="title" class="form-control" placeholder="" value="<%= article.title %> "
                        aria-describedby="helpId"> 
                    <small id="helpId" class="text-muted"></small>
                </div>

                <div class="mb-3">
                    <div class="mb-3">
                        <label for="body" class="form-label">body</label>
                        <textarea class="form-control" id="body" rows="3" aria-label="body"
                            name="articleBody"><%= article.articleBody %> </textarea>
                    </div>
                </div>
                <button class="btn btn-outline-dark text-capitalize">edit article</button>
            </form>
        </div>
</body>

</html>