<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <title>home page</title>
</head>
<body>
    <%- include('./partial/header.ejs') %> 
    <div class="text text-center text-lg-start p-2 text-capitalize my-3">
    <h1>welcome to innovation and vocation enterprise institute</h1>
    <p class="lead">this is a project about the process of creating a software </p>
    <div class="btn text-capitalize">
        <a href="/register" class="btn btn-dark ">register</a>
        <a href="/log-in" class="btn btn-outline-dark">log in</a>
    </div>
    </div>

</body>
</html>