<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>booking page</title>
</head>
<body>
    <form>
    <h1>make booking</h1>
    <fieldset>
        <legend>pick up</legend>
        <div class="pick-date">
            <label for="pickDate">date</label>
            <input type="date" name="pickDate">
        </div>
        <div class="pick-Time">
            <label for="pickTime">date</label>
            <input type="time" name="pickTime">
        </div>
        <div class="pick-Time">
            <label for="pickTime">date</label>
            <input type="time" name="pickTime">
        </div>
        <div class="pick-address">
            <label for="pickAddress">date</label>
            <input type="text" name="pickAddress">
        </div>
    </fieldset>

    <fieldset>
        <legend>drop</legend>
        <div class="drop-date">
            <label for="dropDate">drop</label>
            <input type="date" name="dropDate">
        </div>
        <div class="drop-Time">
            <label for="dropTime">time</label>
            <input type="time" name="dropTime">
        </div>
        <div class="drop-Time">
            <label for="dropTime">date</label>
            <input type="time" name="dropTime">
        </div>
        <div class="drop-address">
            <label for="dropAddress">date</label>
            <input type="text" name="dropAddress">
        </div>
    </fieldset>
    </form>
</body>
</html>