<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home.css">
    <title>taxi home page</title>
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <img src="" alt="logo">
            </div>

            <ul>
                <li>
                    <a href="/">home</a>
                </li>
                <li>
                    <a href="/">about</a>
                </li>
                <li>
                    <a href="/">admin</a>
                </li>
            </ul>
        </nav>
    </header>

    <main class="main">
        <div class="text">
            <h1>welcome to innovative and vocational enterprise institute </h1>
            <p>this is our final year project which is a taxi booking system</p>
        </div>
        <form action="">
            <h1>sign in</h1>
            <div class="name">
                <label for="name">name</label>
                <input type="text" name="name" id="name">
            </div>

            <div class="email">
                <label for="email">email</label>
                <input type="email" name="email" id="email">
            </div>
            <button>sign in</button>
            <p>not yet registered? <a href="/">sign up</a></p>
        </form>
    </main>
</body>

</html>